@media screen and (max-width: 1440px) {
  html, body {
    background: white;
    color: black;
  }
}
@media screen and (max-width: 900px) {
  html, body {
    background: darkblue;
    color: black;
  }
}